<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.iessochoa.erikgarciabelen.gamefever">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.GameFever">
        <activity android:name=".ui.options.HistoryActivity"></activity>
        <activity android:name=".ui.games.GameChatActivity" />
        <activity android:name=".ui.games.GameInvitationActivity" />
        <activity android:name=".ui.games.ContinueGamesActivity" />
        <activity android:name=".ui.friends.ChatActivity" />
        <activity android:name=".ui.games.TicTacToeActivity" />


        <activity android:name=".ui.friends.InvitationsActivity" />
        <activity android:name=".ui.friends.SearchFriendsActivity" />
        <activity android:name=".ui.authentication.RegistingActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.authentication.LoggingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>